.top-nav {
    max-width: 768px;
    margin: 0 auto;
}

.content-container {
    max-width: 768px;
    margin: 0 auto;
    /*background-color: rgb(248, 245, 242);*/
}

.posts {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.posts a:hover {
    text-decoration: underline;
}

.posts li {
    margin-bottom: 16px;
}

.date {
    margin-right: 8px;
    color: #999;
    font-size: 80%;
}

img {
    max-width: 100%;
}