<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="善意的闲人个人博客，主题涉及前端、翻译、语言、读书笔记、日常感悟">
    <meta name="author" content="善意的闲人">
    <link rel="icon" href="/favicon.ico">

    <title>善意的闲人：{{ page.title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/entry.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/blog.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <script type="text/javascript">try {
        var AG_onLoad = function (func) {
            if (document.readyState === "complete" || document.readyState === "interactive") func(); else if (document.addEventListener) document.addEventListener("DOMContentLoaded", func); else if (document.attachEvent) document.attachEvent("DOMContentLoaded", func)
        };
        var AG_removeElementById = function (id) {
            var element = document.getElementById(id);
            if (element && element.parentNode) {
                element.parentNode.removeChild(element);
            }
        };
        var AG_removeElementBySelector = function (selector) {
            if (!document.querySelectorAll) {
                return;
            }
            var nodes = document.querySelectorAll(selector);
            if (nodes) {
                for (var i = 0; i < nodes.length; i++) {
                    if (nodes[i] && nodes[i].parentNode) {
                        nodes[i].parentNode.removeChild(nodes[i]);
                    }
                }
            }
        };
        var AG_each = function (selector, fn) {
            if (!document.querySelectorAll) return;
            var elements = document.querySelectorAll(selector);
            for (var i = 0; i < elements.length; i++) {
                fn(elements[i]);
            }
            ;
        };
        var AG_removeParent = function (el, fn) {
            while (el && el.parentNode) {
                if (fn(el)) {
                    el.parentNode.removeChild(el);
                    return;
                }
                el = el.parentNode;
            }
        };
    } catch (ex) {
        console.error('Error executing AG js: ' + ex);
    }</script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>