<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="liu zhiyuan">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui"/>
    <title>善意的闲人-{{ page.title }}</title>

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/self.css">
    <link rel="stylesheet" href="/css/entry.css">
</head>
<body>
    <header class="top-header">
        <nav class="top-nav">
            <ul class="nav-list">
                <li><a href="/">文章列表</a></li>
                <li><a href="/2017-resume">简历</a></li>
            </ul>
        </nav>
    </header>

    <section class="content-container">
        {{ content }}
    </section>

    <footer>
    </footer>
</body>
</html>
