<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8" >
    <meta name="author" content="liu zhiyuan" >
    <meta name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui"/>
    <title>善意的闲人-{{ page.title }}</title>

    <link rel="stylesheet" href="/css/self.css">
</head>
<body>
    <nav class="top-nav">
        <a href="/">首页</a>
    </nav>
    <section class="content-container">
        {{ content }}
    </section>
    <footer></footer>
</body>
</html>
