<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>简历</title>
    <!--<link rel="stylesheet" href="/css/resume/blue.css">-->
    <link rel="stylesheet" href="/css/resume/blue.css">
    <link rel="stylesheet" href="/css/resume/print.css" media="print">
    <!--[if IE 7]>
    <link href="/css/resume/ie7.css" rel="stylesheet">
    <![endif]-->
    <!--[if IE 6]>
    <link href="/css/resume/ie6.css" rel="stylesheet">
    <![endif]-->
    <!--<script type="text/javascript" src="/resume/js/jquery-1.4.2.min.js"></script>-->
    <!--<script type="text/javascript" src="/resume/js/jquery.tipsy.js"></script>-->
    <!--<script type="text/javascript" src="/resume/js/cufon.yui.js"></script>-->
    <!--<script type="text/javascript" src="/resume/js/scrollTo.js"></script>-->
    <!--<script type="text/javascript" src="/resume/js/myriad.js"></script>-->
    <!--<script type="text/javascript" src="/resume/js/jquery.colorbox.js"></script>-->
    <!--<script type="text/javascript" src="/resume/js/custom.js"></script>-->
    <!--<script type="text/javascript">-->
    <!--Cufon.replace('h1,h2');-->
    <!--</script>-->
</head>
<body>
<a href="/" title="返回首页" class="home">返回</a>
<!-- Begin Wrapper -->
<div id="wrapper">
    <!--<div class="wrapper-top"></div>-->
    <div class="wrapper-mid">
        <!-- Begin Paper -->
        <div id="paper">
            <!--<div class="paper-top"></div>-->
            <div id="paper-mid">
                <div class="entry">
                    <!-- Begin Image -->
                    <!--<img class="portrait" src="images/image.jpg" alt="刘志远" />-->
                    <!-- End Image -->
                    <!-- Begin Personal Information -->
                    <h2 class="name">刘志远</h2>
                    <p class="position">应聘前端开发工程师 <span class="re-phone">电话157 7078 3601</span></p>
                    <ul class="info">
                        <li>1 年前端开发经验</li>
                        <li>2.5 年工作经验</li>
                        <li>西北工业大学本科，计算机信息安全专业</li>
                        <li>熟练掌握 jQuery、Bootstrap、Angular 等主流框架</li>
                        <li>有混合开发、微信公众号开发经验</li>
                        <li>了解微信小程序开发、vue</li>

                        <!--<li class="web">www.businessweb.com</li>-->
                    </ul>

                    <!-- Begin Social -->
                    <div class="social">
                        <ul>
                            <!--<li><a class='north' href="#" title="Download .pdf"><img src="images/icn-save.jpg" alt="Download the pdf version" /></a></li>-->
                            <!--<li><a class='north' id="contact" href="contact/index.html" title="Contact Me"><img src="images/icn-contact.jpg" alt="" /></a></li>-->
                            <!--<li><a class='north' href="#" title="Follow me on Twitter"><img src="images/icn-twitter.jpg" alt="" /></a></li>-->
                            <!--<li><a class='north' href="#" title="My Github Page"><img src="" alt="github" /></a></li>-->
                            <li></li>
                            <li><a class='north' href="javascript:window.print()" title="Print"><img
                                    src="/img/resume/icn-print.jpg" alt="print"/></a></li>
                        </ul>
                    </div>
                    <!-- End Social -->
                </div>

                <!-- End 2nd Row -->
                <!-- Begin 3rd Row -->
                <div class="entry">
                    <h2>工作经历</h2>
                    <div class="content">
                        <h3>2017.3 - 2017.4</h3>
                        <p>前端开发工程师<br/>
                            <em>深圳市云企科技有限责任公司</em></p>
                        <ul class="info">
                            <li>公司主营：开发企业微信号应用，已开发一款供职校学生、老师使用的实习管理系统，接入有潮汕职业学院、蓝天技术学院等。</li>
                            <li>我负责：前端页面重构，根据原型图制作静态页面、动态交互，并与后台 Python 工程师搭配完成数据交互。</li>
                            <li>离职原因：公司融资不力导致项目停止而离职</li>
                        </ul>
                    </div>
                    <div class="content">
                        <h3>2016.3 - 2017.3</h3>
                        <p>前端开发工程师<br/>
                            <em>信果科技有限公司，深圳</em></p>
                        <ul class="info">
                            <li>公司主营：为数据中心、机房部署监控设备，实时采集信息传输回服务器，通过前端管理系统显示、监控；处理设备告警、跟踪设备状态等。</li>
                            <li>我负责：前端页面主要编程任务，搭配后台工程师，完成数据中心管理系统 PC 端和移动端项目，项目详细介绍参看以下项目经历。</li>
                        </ul>
                    </div>
                    <div class="content">
                        <h3>2015.3 - 2015.11</h3>
                        <p>公众号运营编辑<br/>
                            <em>轩诚文化科技有限公司，深圳</em></p>
                        <ul class="info">
                            <li>公司主营：兴趣培训课程的 O2O 平台，开发 Android/iOS 软件，为有技能的达人和浓厚兴趣的学生搭建平台。</li>
                            <li>我负责：采集、排版、发布每日公众号内容，期间掌握的 Photoshop 技能，及页面排版布局的审美经验，对我此后的前端开发有所裨益。</li>
                        </ul>
                    </div>
                </div>
                <div class="entry">
                    <h2>项目经历</h2>
                    <div class="content">
                        <h3 class="long-project-name">PC端数据中心管理系统</h3>
                        <p>担任前端主要编程人员</p>
                        <ul class="info">
                            <li>采用的主要技术和组件，除了基本的 Bootstrap、 jQuery、Ajax、json，还包括:</li>
                            <p>1. ace 布局样式库</p>
                            <p>2. artTemplate 模板引擎</p>
                            <p>3. director.js 路由系统</p>
                            <p>4. 百度 Echarts 数据图表插件</p>
                            <p>5. wesocket 实时数据传输</p>
                            <li>实现了对数据中心设备的实时监测、历史数据可视化、运维人员任务分配等功能。demo 地址：demo.fengyun.io</li>
                        </ul>
                    </div>
                    <div class="content">
                        <h3>移动端数据中心软件</h3>
                        <p>担任Android/iOS客户端主要编程人员</p>
                        <ul class="info">
                            <li>为了配合 PC 端，在移动端实现了一套移动巡检、运维管理的软件。关键技术和收获有：</li>
                            <p>1. Ionic 混合开发框架， Cordova、 PhoneGap 硬件设备 API</p>
                            <p>2. AngularJS 开发框架</p>
                            <p>3. 微信界面样式库 weui</p>
                            <p>4. crosswalk webview 改善 App 性能</p>
                            <p>5. 熟练掌握 Chrome Dev Tool 调试 Android App</p>
                            <p>6. Xcode 编译、调试、上传 iOS App（涉及开发证书管理、生成调试与发布使用的 profile 文件）</p>
                            <p>7. 积累了解决 Android 和 iOS 兼容性问题的经验</p>
                        </ul>
                    </div>
                    <div class="content">
                        <h3>微信公众号开发</h3>
                        <p>担任前后端主要编程</p>
                        <ul class="info">
                            <li>对公司微信公众号主页自定义开发，目前主要功能：查看设备的监控数据。</li>
                            <li>后端实现方案：</li>
                            <p>1. nginx 服务器程序</p>
                            <p>2. python 后台编程语言</p>
                            <p>3. tornado 框架负责路由转发、模板生成、负载均衡等</p>
                            <li>前端主要使用 AngularJS 框架和微信样式库 weui 。</li>
                            <li>搜索微信公众号并查看：信果云服务。</li>
                        </ul>
                    </div>
                </div>
                <!-- End 3rd Row -->
                <!-- Begin 4th Row -->
                <div class="entry">
                    <h2>前端技能</h2>

                    <div class="content">
                        <h3>语言</h3>
                        <ul class="skills">
                            <li>HTML5/CSS3</li>
                            <li>JavaScript</li>
                            <li>Python</li>
                            <li>SQL</li>
                        </ul>
                    </div>
                    <div class="content">
                        <h3>框架、库</h3>
                        <ul class="skills">
                            <li>Bootstrap</li>
                            <li>jQuery</li>
                            <li>Angular</li>
                            <li>Ionic</li>
                            <li>Cordova</li>
                        </ul>
                    </div>
                    <div class="content">
                        <h3>工具</h3>
                        <ul class="skills">
                            <li>Git</li>
                            <li>Gulp</li>
                            <li>Sass</li>
                            <li>Linux</li>
                            <li>Webstorm</li>
                            <li>Vim</li>
                        </ul>
                    </div>
                    <div class="content">
                        <h3>理念</h3>
                        <ul class="skills">
                            <li>响应式设计</li>
                            <li>HTML 语义化</li>
                            <li>RESTful 接口设计</li>
                            <li>设计模式</li>
                            <li>面向对象</li>
                        </ul>
                    </div>
                    <div class="content">
                        <h3>其它</h3>
                        <ul class="skills">
                            <li>Photoshop</li>
                            <li>Markdown</li>
                            <li>英语六级</li>
                        </ul>
                    </div>
                </div>
                <!-- End 4th Row -->
                <!-- Begin 5th Row -->
                <div class="entry">
                    <h2>个人博客</h2>
                    <!--<p>篮球、跑步，写博客（翻译前端技术文章、总结心得体会）</p>-->
                    <div class="content">
                        <!--<h2> </h2>-->
                        <ul class="info">
                            <li>https://90lzy.github.io，目前主要翻译前端技术文章、总结心得体会</li>
                        </ul>
                    </div>
                    <!--<ul class="hobits">-->
                    <!--<li>篮球、跑步</li>-->
                    <!--<li>历史、古代汉语</li>-->
                    <!--<li>写博客<span class="blog-address">（90lzy.github.io）</span>：翻译前端技术文章、总结心得体会</li>-->
                    <!--</ul>-->
                </div>
                <!-- Begin 5th Row -->
            </div>
            <div class="clear"></div>
            <!--<div class="paper-bottom"></div>-->
        </div>
        <!-- End Paper -->
    </div>
    <!--<div class="wrapper-bottom"></div>-->
</div>
<!--<div id="message"><a href="#top" id="top-link">Go to Top</a></div>-->
<!-- End Wrapper -->
</body>
</html>

