<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>简历</title>
    <!--<link rel="stylesheet" href="/css/resume/blue.css">-->
    <link rel="stylesheet" href="/css/resume/blue.css">
    <link rel="stylesheet" href="/css/resume/print.css" media="print">
    <!--[if IE 7]>
    <link href="/css/resume/ie7.css" rel="stylesheet">
    <![endif]-->
    <!--[if IE 6]>
    <link href="/css/resume/ie6.css" rel="stylesheet">
    <![endif]-->
    <!--<script type="text/javascript" src="/resume/js/jquery-1.4.2.min.js"></script>-->
    <!--<script type="text/javascript" src="/resume/js/jquery.tipsy.js"></script>-->
    <!--<script type="text/javascript" src="/resume/js/cufon.yui.js"></script>-->
    <!--<script type="text/javascript" src="/resume/js/scrollTo.js"></script>-->
    <!--<script type="text/javascript" src="/resume/js/myriad.js"></script>-->
    <!--<script type="text/javascript" src="/resume/js/jquery.colorbox.js"></script>-->
    <!--<script type="text/javascript" src="/resume/js/custom.js"></script>-->
    <!--<script type="text/javascript">-->
    <!--Cufon.replace('h1,h2');-->
    <!--</script>-->
</head>
<body>
<a href="/" title="返回首页" class="home">返回</a>
<!-- Begin Wrapper -->
<div id="wrapper">
    <!--<div class="wrapper-top"></div>-->
    <div class="wrapper-mid">
        <!-- Begin Paper -->
        <div id="paper">
            <!--<div class="paper-top"></div>-->
            <div id="paper-mid">
                <div class="entry">
                    <!-- Begin Image -->
                    <!--<img class="portrait" src="images/image.jpg" alt="刘志远" />-->
                    <!-- End Image -->
                    <!-- Begin Personal Information -->
                    <h2 class="name">刘志远</h2>
                    <p class="position">前端开发工程师</p>
                    <ul class="info">
                        <li class="ad">籍贯江西，现住深圳</li>
                        <li class="mail">liuzhiyuan2011@sina.com</li>
                        <li class="tel">157 7078 3601</li>
                        <!--<li class="web">www.businessweb.com</li>-->
                    </ul>
                    <!--<p>籍贯江西，现住深圳</p>-->
                    <!--<p>liuzhiyuan2011@sina.com</p>-->
                    <!--<p>157 7078 3601</p>-->
                    <!--<div class="self">-->
                    <!--<h1 class="name">刘志远</h1>-->

                    <!--<ul >-->
                    <!--<li class="ad">籍贯江西，现住深圳</li>-->
                    <!--<li class="mail">liuzhiyuan2011@sina.com</li>-->
                    <!--<li class="tel">157 7078 3601</li>-->
                    <!--&lt;!&ndash;<li class="web">www.businessweb.com</li>&ndash;&gt;-->
                    <!--</ul>-->
                    <!--</div>-->
                    <!-- End Personal Information -->
                    <!-- Begin Social -->
                    <div class="social">
                        <ul>
                            <!--<li><a class='north' href="#" title="Download .pdf"><img src="images/icn-save.jpg" alt="Download the pdf version" /></a></li>-->
                            <!--<li><a class='north' id="contact" href="contact/index.html" title="Contact Me"><img src="images/icn-contact.jpg" alt="" /></a></li>-->
                            <!--<li><a class='north' href="#" title="Follow me on Twitter"><img src="images/icn-twitter.jpg" alt="" /></a></li>-->
                            <!--<li><a class='north' href="#" title="My Github Page"><img src="" alt="github" /></a></li>-->
                            <li></li>
                            <li><a class='north' href="javascript:window.print()" title="Print"><img
                                    src="/img/resume/icn-print.jpg" alt="print"/></a></li>
                        </ul>
                    </div>
                    <!-- End Social -->
                </div>
                <!-- Begin 1st Row -->
                <!--<div class="entry">-->
                <!--<h2>求职意向</h2>-->
                <!--<p>前端工程师</p>-->
                <!--</div>-->
                <!-- End 1st Row -->
                <!-- Begin 2nd Row -->
                <div class="entry">
                    <h2>教育背景</h2>
                    <div class="content">
                        <h3>2010/9 -- 2014/7</h3>
                        <p>西北工业大学本科，计算机信息安全专业<br/></p>
                    </div>
                    <!--<div class="content">-->
                    <!--<h3>Sep 2001 - Jun 2005</h3>-->
                    <!--<p>University of Art &amp; Design, New York <br />-->
                    <!--<em>Bachelor of Science in Graphic Design</em></p>-->
                    <!--</div>-->
                </div>
                <!-- End 2nd Row -->
                <!-- Begin 3rd Row -->
                <div class="entry">
                    <h2>工作经历</h2>
                    <div class="content">
                        <h3>2016/3 -- 2017/3</h3>
                        <p>前端开发工程师<br/>
                            <em>信果科技有限公司，深圳</em></p>
                        <ul class="info">
                            <li>项目一：网页端数据中心管理系统，担任前端页面主要编程人员，使用 <strong>jQuery/Bootstrap/Ajax/json</strong>，主要功能有：用户登录、数据库操作、数据图表。</li>
                            <li>项目二：iOS/Android/小米盒子端数据中心管理应用程序，担任主要编程人员，使用 <strong>Ionic 混合开发</strong>框架，搭配 <strong>AngularJS
                                1.0</strong>。解决过界面卡顿、自适应、兼容性等问题。
                            </li>
                            <li>项目三：微信公众号主页开发，担任主要编程人员（涉及部分后端），使用 <strong>nginx/python/tornado</strong>。同时涉猎了微信小程序开发。</li>
                        </ul>
                    </div>
                    <div class="content">
                        <h3>2015/3 -- 2015/11</h3>
                        <p>公众号运营编辑<br/>
                            <em>轩诚文化科技有限公司，深圳</em></p>
                        <ul class="info">
                            <li>主要职责：采集、排版、发布每日公众号内容，期间掌握的 <strong>Photoshop</strong> 技能，及页面排版布局的经验，对我此后的前端开发有所裨益。</li>
                        </ul>
                    </div>
                    <div class="content">
                        <h3>2014/7 -- 2014/10</h3>
                        <p>软件测试工程师<br/>
                            <em>迅雷网络技术股份有限公司，深圳</em></p>
                        <ul class="info">
                            <li>主要职责：编写接口测试，执行测试任务。工作时间较短，主要收获是熟悉工作流程，培养职业习惯。</li>
                        </ul>
                    </div>
                </div>
                <!-- End 3rd Row -->
                <!-- Begin 4th Row -->
                <div class="entry">
                    <h2>前端技能</h2>

                    <div class="content">
                        <h3>语言</h3>
                        <ul class="skills">
                            <li>HTML/CSS</li>
                            <li>JavaScript</li>
                            <li>Python</li>
                            <li>SQL</li>
                        </ul>
                    </div>
                    <div class="content">
                        <h3>框架/库</h3>
                        <ul class="skills">
                            <li>Bootstrap</li>
                            <li>jQuery</li>
                            <li>Angular</li>
                            <li>Ionic</li>
                        </ul>
                    </div>
                    <div class="content">
                        <h3>其它</h3>
                        <ul class="skills">
                            <li>Git</li>
                            <li>Gulp</li>
                            <li>Photoshop</li>
                            <li>Markdown</li>
                            <li>Linux</li>
                            <li>英语六级</li>
                        </ul>
                    </div>
                </div>
                <!-- End 4th Row -->
                <!-- Begin 5th Row -->
                <div class="entry">
                    <h2>个人兴趣</h2>
                    <!--<p>篮球、跑步，写博客（翻译前端技术文章、总结心得体会）</p>-->
                    <div class="content">
                        <!--<h2> </h2>-->
                        <ul class="info">
                            <li class="no-margin-top">运动：篮球、跑步</li>
                            <li>阅读：历史、古代汉语</li>
                            <li>写作：个人博客<span class="blog-address">（90lzy.github.io）</span>，目前主要翻译前端技术文章、总结心得体会</li>
                        </ul>
                    </div>
                    <!--<ul class="hobits">-->
                    <!--<li>篮球、跑步</li>-->
                    <!--<li>历史、古代汉语</li>-->
                    <!--<li>写博客<span class="blog-address">（90lzy.github.io）</span>：翻译前端技术文章、总结心得体会</li>-->
                    <!--</ul>-->
                </div>
                <!-- Begin 5th Row -->
            </div>
            <div class="clear"></div>
            <!--<div class="paper-bottom"></div>-->
        </div>
        <!-- End Paper -->
    </div>
    <!--<div class="wrapper-bottom"></div>-->
</div>
<!--<div id="message"><a href="#top" id="top-link">Go to Top</a></div>-->
<!-- End Wrapper -->
</body>
</html>

